In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df=sns.load_dataset('taxis')
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [3]:
df.sample(10)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
4890,2019-03-04 22:09:21,2019-03-04 22:21:22,1,3.53,12.0,4.00,0.0,19.80,yellow,credit card,Lincoln Square West,East Chelsea,Manhattan,Manhattan
3864,2019-03-05 14:18:54,2019-03-05 14:27:11,1,0.72,7.0,0.00,0.0,10.30,yellow,cash,Midtown North,Midtown Center,Manhattan,Manhattan
3356,2019-03-18 19:12:40,2019-03-18 19:29:59,1,1.50,11.5,3.95,0.0,19.75,yellow,credit card,Times Sq/Theatre District,Midtown South,Manhattan,Manhattan
2590,2019-03-12 20:15:25,2019-03-12 20:23:19,1,1.27,7.0,2.16,0.0,12.96,yellow,credit card,Meatpacking/West Village West,TriBeCa/Civic Center,Manhattan,Manhattan
2335,2019-03-31 10:11:07,2019-03-31 10:23:00,5,2.19,10.5,2.25,0.0,16.05,yellow,credit card,East Village,Garment District,Manhattan,Manhattan
4157,2019-03-16 02:20:47,2019-03-16 02:28:05,2,1.50,7.5,3.39,0.0,14.69,yellow,credit card,Greenwich Village South,Financial District North,Manhattan,Manhattan
1394,2019-03-05 18:46:14,2019-03-05 18:51:56,1,0.48,5.0,1.40,0.0,10.70,yellow,credit card,Murray Hill,Midtown South,Manhattan,Manhattan
3739,2019-03-10 12:04:04,2019-03-10 12:11:33,1,1.03,6.5,1.96,0.0,11.76,yellow,credit card,Midtown North,Lincoln Square East,Manhattan,Manhattan
1647,2019-03-21 08:22:55,2019-03-21 09:01:55,1,3.93,24.5,5.56,0.0,33.36,yellow,credit card,Upper West Side South,Gramercy,Manhattan,Manhattan
3922,2019-03-15 19:58:47,2019-03-15 20:09:02,1,1.01,7.5,1.70,0.0,13.00,yellow,credit card,Murray Hill,Murray Hill,Manhattan,Manhattan

In [4]:
df['payment'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
6428    False
6429    False
6430    False
6431    False
6432    False
Name: payment, Length: 6433, dtype: bool

In [5]:
df['color'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
6428    False
6429    False
6430    False
6431    False
6432    False
Name: color, Length: 6433, dtype: bool

In [6]:
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [7]:
(df.isnull().sum()/6433)*100

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.683973
pickup_zone        0.404166
dropoff_zone       0.699518
pickup_borough     0.404166
dropoff_borough    0.699518
dtype: float64

In [9]:
(df.isnull().sum()/df.shape[0])*100

pickup             0.000000
dropoff            0.000000
passengers         0.000000
distance           0.000000
fare               0.000000
tip                0.000000
tolls              0.000000
total              0.000000
color              0.000000
payment            0.683973
pickup_zone        0.404166
dropoff_zone       0.699518
pickup_borough     0.404166
dropoff_borough    0.699518
dtype: float64

In [10]:
df.drop('pickup_zone',axis=1)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Windsor Terrace,Brooklyn,Brooklyn

In [11]:

df.drop(['color','pickup','dropoff'],axis=1,inplace=True)
df

,passengers,distance,fare,tip,tolls,total,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,1,1.60,7.0,2.15,0.0,12.95,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,1,0.79,5.0,0.00,0.0,9.30,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,1,1.37,7.5,2.36,0.0,14.16,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,1,7.70,27.0,6.15,0.0,36.95,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,3,2.16,9.0,1.10,0.0,13.40,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...
6428,1,0.75,4.5,1.06,0.0,6.36,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,1,18.74,58.0,0.00,0.0,58.80,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,1,4.14,16.0,0.00,0.0,17.30,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,1,1.12,6.0,0.00,0.0,6.80,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,1,3.85,15.0,3.36,0.0,20.16,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [12]:
df.drop([2,3,6430,6432],axis=0,inplace=True)
df

,passengers,distance,fare,tip,tolls,total,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,1,1.60,7.0,2.15,0.0,12.95,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,1,0.79,5.0,0.00,0.0,9.30,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
4,3,2.16,9.0,1.10,0.0,13.40,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
5,1,0.49,7.5,2.16,0.0,12.96,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan
6,1,3.65,13.0,2.00,0.0,18.80,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...
6426,1,0.71,4.5,0.50,0.0,5.80,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6427,1,7.07,20.0,0.00,0.0,20.00,cash,Parkchester,East Harlem South,Bronx,Manhattan
6428,1,0.75,4.5,1.06,0.0,6.36,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,1,18.74,58.0,0.00,0.0,58.80,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6431,1,1.12,6.0,0.00,0.0,6.80,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn

In [13]:
df.reset_index()

,index,passengers,distance,fare,tip,tolls,total,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,0,1,1.60,7.0,2.15,0.0,12.95,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,1,1,0.79,5.0,0.00,0.0,9.30,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,4,3,2.16,9.0,1.10,0.0,13.40,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
3,5,1,0.49,7.5,2.16,0.0,12.96,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan
4,6,1,3.65,13.0,2.00,0.0,18.80,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...
6424,6426,1,0.71,4.5,0.50,0.0,5.80,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6425,6427,1,7.07,20.0,0.00,0.0,20.00,cash,Parkchester,East Harlem South,Bronx,Manhattan
6426,6428,1,0.75,4.5,1.06,0.0,6.36,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6427,6429,1,18.74,58.0,0.00,0.0,58.80,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6428,6431,1,1.12,6.0,0.00,0.0,6.80,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn

In [14]:
df.reset_index(drop=True,inplace=True) #its mandatory to apply reset_index after deleting rows from dataframe
df

,passengers,distance,fare,tip,tolls,total,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,1,1.60,7.0,2.15,0.0,12.95,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,1,0.79,5.0,0.00,0.0,9.30,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,3,2.16,9.0,1.10,0.0,13.40,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
3,1,0.49,7.5,2.16,0.0,12.96,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan
4,1,3.65,13.0,2.00,0.0,18.80,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...
6424,1,0.71,4.5,0.50,0.0,5.80,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6425,1,7.07,20.0,0.00,0.0,20.00,cash,Parkchester,East Harlem South,Bronx,Manhattan
6426,1,0.75,4.5,1.06,0.0,6.36,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6427,1,18.74,58.0,0.00,0.0,58.80,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6428,1,1.12,6.0,0.00,0.0,6.80,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn

In [15]:
df[df['total']>15]

,passengers,distance,fare,tip,tolls,total,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
4,1,3.65,13.00,2.0,0.0,18.80,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
6,1,3.63,15.00,1.0,0.0,19.30,credit card,East Harlem South,Midtown Center,Manhattan,Manhattan
8,1,3.90,17.00,0.0,0.0,17.80,cash,LaGuardia Airport,Astoria,Queens,Queens
13,3,2.09,13.50,0.0,0.0,16.80,cash,Upper West Side North,Clinton East,Manhattan,Manhattan
14,1,2.12,13.00,0.0,0.0,16.30,cash,East Chelsea,Meatpacking/West Village West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...
6420,1,4.02,16.00,0.0,0.0,17.30,cash,Washington Heights South,Spuyten Duyvil/Kingsbridge,Manhattan,Bronx
6421,1,4.30,18.50,0.0,0.0,19.30,credit card,Saint Albans,Hillcrest/Pomonok,Queens,Queens
6423,1,9.12,26.32,0.0,0.0,26.82,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6425,1,7.07,20.00,0.0,0.0,20.00,cash,Parkchester,East Harlem South,Bronx,Manhattan
6427,1,18.74,58.00,0.0,0.0,58.80,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx

In [16]:
df[(df['payment']=='cash') |(df['total']>20)]

,passengers,distance,fare,tip,tolls,total,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
1,1,0.79,5.00,0.0,0.0,9.30,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
8,1,3.90,17.00,0.0,0.0,17.80,cash,LaGuardia Airport,Astoria,Queens,Queens
11,1,1.75,10.50,0.0,0.0,13.80,cash,Lincoln Square West,Times Sq/Theatre District,Manhattan,Manhattan
12,0,2.90,11.50,0.0,0.0,14.80,cash,Financial District North,Two Bridges/Seward Park,Manhattan,Manhattan
13,3,2.09,13.50,0.0,0.0,16.80,cash,Upper West Side North,Clinton East,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...
6420,1,4.02,16.00,0.0,0.0,17.30,cash,Washington Heights South,Spuyten Duyvil/Kingsbridge,Manhattan,Bronx
6422,1,1.70,8.00,0.0,0.0,9.30,cash,Central Harlem,Central Harlem North,Manhattan,Manhattan
6423,1,9.12,26.32,0.0,0.0,26.82,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6425,1,7.07,20.00,0.0,0.0,20.00,cash,Parkchester,East Harlem South,Bronx,Manhattan
6427,1,18.74,58.00,0.0,0.0,58.80,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx