In [1]:
integer_var = 10
float_var = 3.14
string_var = "Hello, World!"
boolean_var = True
print(f"Integer variable: {integer_var}, Type: {type(integer_var)}")
print(f"Float variable: {float_var}, Type: {type(float_var)}")
print(f"String variable: {string_var}, Type: {type(string_var)}")
print(f"Boolean variable: {boolean_var}, Type: {type(boolean_var)}")

Integer variable: 10, Type: <class 'int'>
Float variable: 3.14, Type: <class 'float'>
String variable: Hello, World!, Type: <class 'str'>
Boolean variable: True, Type: <class 'bool'>

# Day 2

In [4]:
my_list = [1, 2, 3, 4, 5]
first_element = my_list[0]
second_element = my_list[1]
last_element = my_list[-1]

print(f"First element: {first_element}")
print(f"Second element: {second_element}")
print(f"Last element: {last_element}")

First element: 1
Second element: 2
Last element: 5

In [6]:
my_tuple = ('a', 'b', 'c', 'd', 'e')
first_element = my_tuple[0]
second_element = my_tuple[1]
last_element = my_tuple[-1]

print(f"First element: {first_element}")
print(f"Second element: {second_element}")
print(f"Last element: {last_element}")

First element: a
Second element: b
Last element: e

In [8]:
my_dict = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
element_one = my_dict['one']
element_two = my_dict['two']
element_five = my_dict['five']

print(f"Element with key 'one': {element_one}")
print(f"Element with key 'two': {element_two}")
print(f"Element with key 'five': {element_five}")

Element with key 'one': 1
Element with key 'two': 2
Element with key 'five': 5

# Day 3

In [11]:
def calculate_grade():
    subject1 = float(input("Enter marks for Subject 1: "))
    subject2 = float(input("Enter marks for Subject 2: "))
    subject3 = float(input("Enter marks for Subject 3: "))
    average_marks = (subject1 + subject2 + subject3) / 3
    if average_marks >= 90:
        grade = "A"
    elif 80 <= average_marks < 90:
        grade = "B"
    elif 70 <= average_marks < 80:
        grade = "C"
    else:
        grade = "Fail"
    print(f"Grade: {grade}")
calculate_grade()

Enter marks for Subject 1:  67
Enter marks for Subject 2:  54
Enter marks for Subject 3:  78

Grade: Fail

# Day 4

In [17]:
def sum_of_even_numbers(n):
    total_sum = 0
    for i in range(1, n+1):
        if i % 2 == 0:
            total_sum += i
    
    return total_sum
n = int(input("Enter a positive integer: "))
result = sum_of_even_numbers(n)
print(f"The sum of all even numbers between 1 and {n} is: {result}")

Enter a positive integer:  67

The sum of all even numbers between 1 and 67 is: 1122

# Day 5

In [20]:
n = int(input("Enter a positive integer: "))
print("Numbers from 1 to", n, ":")
for i in range(1, n+1):
    print(i)
sum_of_numbers = 0
i = 1
while i <= n:
    sum_of_numbers += i
    i += 1
print(f"The sum of all numbers from 1 to {n} is: {sum_of_numbers}")

Enter a positive integer:  6

Numbers from 1 to 6 :
1
2
3
4
5
6
The sum of all numbers from 1 to 6 is: 21

In [23]:
def calculate_square(n):
    return n ** 2
n = int(input("Enter a positive integer: "))
result = calculate_square(n)
print(f"The square of {n} is: {result}")

Enter a positive integer:  89

The square of 89 is: 7921

# day 6

In [26]:
import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [28]:
print("\nFirst 2 rows of the DataFrame:")
print(df.head(2))

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

In [30]:
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus column:")
print(df)

DataFrame with Bonus column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

In [32]:
average_salary = df['Salary'].mean()
print(f"\nAverage Salary: {average_salary}")

Average Salary: 47500.0

In [34]:
filtered_df = df[df['Age'] > 25]
print("\nEmployees who are older than 25:")
print(filtered_df)

Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0